<h1> Sign up </h1>

<%= form_with model: @user, url: registration_path do |form| %>
  <% if form.object.errors.any? %>
    <div id="error_explanation">
      <h3><%= pluralize(form.object.errors.count, "error") %> prohibited this user from being saved:</h3>

      <ul>
        <% form.object.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div>
  <%= form.label :username %>
  <%= form.text_field :username %>
</div>
  
  <div>
    <%= form.label :password %>
  <%= form.password_field :password %>
  </div>
  
  <div>
  <%= form.label :password_confirmation %>
  <%= form.password_field :password_confirmation %>
  </div>

  <div>
    <%= form.submit "Sign up" %>
  </div>
<% end %>
